body {
    background-image: url("img/sfondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

h2, h5 {
    text-align: center;
}

img {
    width: 340px;
    height: 280px;
}

.veicolo {
    display: inline-block;
    margin-left: 30px;
}

.titolo {
    font-size: 14pt;
}

.didascalia {
    font-size: 12pt;
    padding: 5px;
    background-color: black;
}
